body {
    background-image: url(../static/images/background.jpg);
    background-repeat: no-repeat;
    -o-background-size: 100% 100%; /* opera ≥ 9.5 */
    -webkit-background-size: 100% 100%; /* Safari ≥ 5.0, Chrome ≥ 4.0 */
    -khtml-background-size: 100% 100%; /* Konqueror ≥ 3.5.4 */
    -moz-background-size: 100% 100%; /* Firefox ≥ 3.6 */
    background-size: 100% 100%; /* CSS3 */
       /* FF ≥ 4, Opera ≥ 10.53, IE ≥ 9.0 */
    font-size: 14px;
    	font-family: Arial;
}

.give_get {
    padding-left: 1em;
}

.block-text {
    padding-left: 2em;
}

.input-top {
    padding-top: 2em;
}

.limit-val {
    float: right;
}

.mr-3 {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.5em;
}

.navbar.navbar-expand-lg.navbar-light.bg-light {
    box-shadow: 0 8px 8px 0px rgba(0, 0, 0, .2);
}

.jumbotron {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #F8F9FA;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 70%;
}

.hidescreen,
.load_page {
 position: fixed;
 display: none; /*изначально блоки скрыты*/
}
.hidescreen {
 z-index: 9998; 
 width: 100%;
 height: 100%;
 background: #000000;
 opacity: 0.7;
 filter: alpha(opacity=70);
 left:0;
 top:0;
}
.load_page {
 z-index: 9999; /*значение должно больше чем для .hidescreen*/
 left: 50%;
 top: 50%;
 padding: 30px 10px;
 text-align: center;
 font: normal normal 15px Verdana;
 border-radius: 3px;
 margin-left: -125px;
 width: 250px;
}
.close { 
 position: absolute;
 top: 10px;
 right: 10px; 
 border: 1px solid #666; 
 border-radius: 2px; 
 font: normal bold 12px/14px Comic Sans MS; 
 text-align: center; 
 background: #FFF; 
 color: #C00; 
 cursor: pointer; 
 height: 14px; 
 width: 13px; 
} 
.close:hover { 
 background: #C00; 
 color: #FFF; 
}