{% block header %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Обменник</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
            </ul>
            <span class="navbar-text">
              <a class="navbar-brand" data-target="#loginModal" data-toggle="modal" href="">Вход</a>
              <a class="navbar-brand" href="#">Регистрация</a>
            </span>
          </div>
    </nav>
{% endblock %}