{% extends "app/base.html" %} {% block content %} {% block header %} {% include "app/header.html" %} {% endblock %}
{% if user.is_authenticated %}
<p>Your account doesn't have access to this page. To proceed,
please login with an account that has access.</p>
{% else %}
<p>Please login to see this page.</p>
{% endif %}
<div class="container">
    <br>
    <br>
    <div style="color: white">
        <p>Наш обменник предназначен для тех, кто быстро, безопасно и по выгодному курсу хочет обменять валюту.</p>
        <p>Наш пункт обмена электронных валют - система, созданная на базе современного программного обеспечения и поддерживаемая
            весь набор необходимых функций для удобной работы и безопасной конвертации наиболее распространенных видов электронных
            денег. Мы делаем все возможное, чтобы ваши впечатление от нашего сервиса были благоприятными.</p>
    </div>
    <br>
    <br>
    <div class="text-center center-block" style="color: white">
        <h2>Быстрый и легкий обмен валюты</h2>
    </div>
    <br> {% block columns %} {% include 'app/columns.html' %} {% endblock %}
    <center>
        <img src="../static/images/double-down.png" width="64" height="64">
    </center>
    {% block valute %} {% include 'app/valute.html' %} {% endblock %}
    <div class="col-md-8 col-12 mt-5"></div>
    <footer class="page-footer font-small indigo pt-0">
        <div class="container">
            <div class="row">
                <div class="col-md-12">


                </div>
            </div>
        </div>

        <div class="footer-copyright py-3 text-center">
            <div class="container-fluid" style="color: white">
                © 2016 Copyright: Обменник </a>
            </div>
        </div>
    </footer>
</div>

{% block modal %} {% include 'app/modal.html' %} {% endblock %} {% endblock %}